:root {
  --Gray-100: #f2f2f2;
  --Gray-200: #d9d9d9;
  --Gray-300: #808080;
  --Gray-400: #333333;
  --Gray-500: #262626;
  --Gray-600: #1a1a1a;
  --gray-700: #0d0d0d;
  --Blue: #4ea8de;
  --PurpleDark: #5e60ce;
  --Purple: #8284fa;
  --Blue-Dark: #1e6f9f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: var(--Gray-600);
}

